.intro-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    @media screen and (min-width: 48em) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        padding: .5rem;
        @media screen and (min-width: 48em) {
            flex-basis: 50%;
            margin: 0;
        }
    }
    &__link {
        width: 100%;
        padding: 1rem;
        background-color: var(--clr-secondary);
        border-radius: 10px;
        color: var(--clr-dark);
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.25;
        font-weight: 700;
        font-size: .875rem;
        body.dark-mode & {
            background-color: var(--clr-primary);
            color: var(--clr-dark);
        }
        &--destacado {
            background-color: var(--clr-primary);
            color: var(--clr-white);
            body.dark-mode & {
                background-color: var(--clr-primary-dark);
                color: var(--clr-black);
            }
        }
        &--alone {
            display: block;
            margin-block: 2rem;
        }
    }
}
