.cta {
    margin-inline: calc(-30px * .5);
    margin-block: 30px;
    padding: calc(30px * .5);
    background-color: rgba(191,191,217,.1);
    border-top: 1px solid rgba(191,191,217,.15);
    border-bottom: 1px solid rgba(191,191,217,.15);
    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 1rem;
        text-align: center;
        color: var(--clr-primary);
        max-width: 700px;
        margin-inline: auto;
        @media screen and (min-width: 992px) {
            font-size: 1.75rem;
        }
    }
    &__subtitle {
        font-family: "Playfair Display", serif;
        font-weight: normal;
        font-size: 1.15rem;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 700px;
        margin-inline: auto;
    }
    &__list {
        list-style-type: none;
        text-align: center;
        display: grid;
        gap: 15px 0;
        margin-bottom: 1rem;
        @media screen and (min-width: 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1366px;
            margin-inline: auto;
            text-align: left;
            gap: calc(30px * .5) calc(45px * .5);
        }
        strong {
            display: block;
        }
    }
    &__item {
        &:nth-child(odd):not(:last-child) {
            @media screen and (min-width: 1200px) {
                text-align: right;
            }
        }
        &:last-child {
            @media screen and (min-width: 1200px) {
                grid-column: 1 / -1;
                text-align: center;
            }
        }
    }
    &__text {
        display: block;
        margin-bottom: 7.5px;
    }
    &__btn-wrapper {
        margin-bottom: 15px;
    }
    &--one-to-one {
        border-top: none;
        @media screen and (min-width: 992px) {
            margin-top: -15px;
            padding-block: calc(120px * .5);
        }
    }
    &--curso {
        margin-top: -30px;
        background-color: transparent;
        border: none;
        @media screen and (min-width: 992px) {
            padding-block: calc(120px * .5);
        }
        .cta__title {
            color: var(--clr-primary);
        }
        &--eng-groups {
            background-color: transparent;
            border: none;
            @media screen and (min-width: 992px) {
                padding-block: calc(120px * .5);
            }
        }
        &--one-to-one {
            .cta {
                &__item {
                    &:last-child {
                        @media screen and (min-width: 1200px) {
                            grid-column: inherit;
                            text-align: inherit;
                        }
                    }
                }
            }
        }
        &--megan {
            background-color: transparent;
            border: none;
            @media screen and (min-width: 992px) {
                padding-block: calc(120px * .5);
            }
            .cta {
                &__item {
                    &:last-child {
                        @media screen and (min-width: 1200px) {
                            grid-column: inherit;
                            text-align: inherit;
                        }
                    }
                }
            }
        }
    }
    &--faqs {
        margin-top: -30px;
        @media screen and (min-width: 992px) {
            padding-block: calc(120px * .5);
        }
        .cta__title {
            color: var(--clr-primary);
        }
        &--groups .cta__item:last-child {
            @media screen and (min-width: 1200px) {
                grid-column: inherit;
                text-align: inherit;
            }
        }
        &--one-to-one {
            .cta {
                &__item {
                    &:last-child {
                        @media screen and (min-width: 1200px) {
                            grid-column: inherit;
                            text-align: inherit;
                        }
                    }
                }
            }
        }
    }
    &--oscar {
        margin-top: -30px;
        border: none;
        background: transparent url('/img/oscar.png') center calc(30px * .5) no-repeat;
        background-size: contain;
        position: relative;
        margin-bottom: 0;
        &.cta--megan {
            background: transparent url('/img/megan.png') center calc(30px * .5) no-repeat;
            background-size: contain;
            @media screen and (min-width: 1200px) {
                background-position-x: calc(50% + 150px);
            }
        }
        @media screen and (min-width: 992px) {
            padding-block: calc(120px * .5);
        }
        @media screen and (min-width: 1200px) {
            background-position-x: calc(50% + 150px);
            .container {
                > * {
                    max-width: 50%;
                    margin-left: 0;
                    text-align: right;
                }
                .cta__item {
                    text-align: right;
                }
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(white,.85);
            @media screen and (min-width: 1200px) {
                content: none;
            }
        }
        .cta {
            &__title {
                color: var(--clr-primary);
            }
            &__list {
                @media screen and (min-width: 1200px) {
                    grid-template-columns: 1fr;
                }
            }
            &__item {
                &:last-child {
                    @media screen and (min-width: 1200px) {
                        grid-column: inherit;
                    }
                }
            }
        }
        &.cta--materials {
            background: transparent url('/img/logo-ot-academy.svg') center center no-repeat;
            background-size: auto 40%;
            @media screen and (min-width: 1200px) {
                background-position-x: calc(50% + 300px);
                background-size: 350px auto;
            }
            &::before {
                background-color: rgba(white,.95);
            }
        }
    }
    &--price {
        margin-top: 0;
        @media screen and (min-width: 992px) {
            padding-block: calc(120px * .5);
        }
    }
    &--eng-groups {
        border-top: none;
        @media screen and (min-width: 992px) {
            margin-top: -30px;
            padding-block: calc(120px * .5);
        }
        &--materials {
            margin-bottom: 0;
            border: none;
            border-top: 1px solid rgba(191,191,217,.5);
            background-color: transparent;
            @media screen and (min-width: 992px) {
                border-top: none;
            }
        }
    }
}
