.main-footer {
    border-top: 1px solid var(--clr-primary-light);
    margin-top: 3rem;
    padding-top: 2rem;
    padding-inline: calc(30px * .5);
    display: grid;
    gap: 15px;
    text-align: center;
    z-index: -1;
    position: relative;
    max-width: 1366px;
    margin-inline: auto;
    font-size: .875rem;
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 38px;
        grid-template-rows: auto;
        gap: 0;
    }
    &__col {
        &:nth-child(2) {
            @media screen and (min-width: 1200px) {
                grid-row: 2 / -1;
                grid-column: 1 / -1;
            }
        }
        &:last-child {
            @media screen and (min-width: 1200px) {
                grid-column: 2 / -1;
            }
        }
    }
    ul {
        list-style-type: none;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        max-width: 345px;
        margin-inline: auto;
        margin-block: 1rem;
        @media screen and (min-width: 1200px) {
            margin-right: 0;
        }
        &__item {
            img {
                width: 40px;
                height: 40px;
            }
        }
        &__link {
            opacity: .5;
            transition: opacity .3s ease;
            &:focus,
            &:hover {
                opacity: 1;
            }
        }
    }
}
