body {
    &::before {
        content: '';
        width: 90%;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent url('/img/deco-01.svg') 0 0 no-repeat;
        background-size: contain;
        z-index: -1;
    }
    &::after {
        content: "";
        width: 90%;
        height: 200px;
        position: absolute;
        top: 10%;
        right: 0;
        background: transparent url('/img/deco-02.svg') 100% 0 no-repeat;
        background-size: contain;
        z-index: -1;
    }
}

.main-header {
    max-width: 1366px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding-inline: calc(30px * .5);
    padding-top: 50px;
    position: relative;
    @media screen and (min-width: 1200px) {
        body:has(.page-content--home) & {
            margin-bottom: -5rem;
        }
    }
}

.site-title {
    @media screen and (min-width: 1200px) {
        display: flex;
        width: fit-content;
    }
    &__home-link {
        display: block;
        text-align: center;
        height: 100px;
        background: transparent url('/img/logo-ot-academy.svg') center center no-repeat;
        margin-inline: auto;
        background-size: contain;
        @media screen and (min-width: 1200px) {
            width: 200px;
            height: 175px;
            margin-left: 0;
            position: relative;
            z-index: 1;
        }
    }
}
