body::before {
    content: '';
    width: 90%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('/img/deco-01.svg') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
}

.main-header {
    max-width: 1366px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding-inline: calc(30px * .5);
    padding-top: 15px;
    position: relative;
}

.site-title {
    &__home-link {
        display: block;
        text-align: center;
        height: 100px;
        background: transparent url('/img/logo-ot-academy.svg') center center no-repeat;
        margin-inline: auto;
        background-size: contain;
    }
}
