.main-menu {
    position: fixed;
    right: -100dvw;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    background-color: white;
    transition: right .3s ease;
    &.menu-opened {
        right: 0;
    }
    &__items {
        flex: 1;
        list-style-type: none;
        margin-top: 15px;
        border-top: 1px solid var(--clr-primary-light);
        background-color: var(--clr-primary-light);
    }
    &__logo {
        display: block;
        max-width: 150px;
        margin-inline: auto;
        margin-top: 15px;
    }
    &__link {
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .015rem;
        font-size: .85rem;
        border-bottom: 1px solid rgba(white,.5);
        padding-block: 15px;
        text-align: center;
        &:focus,
        &:hover {
            background-color: rgba(white,.5);
        }
        &.selected,
        &.selected:hover,
        &.selected:focus {
            background-color: var(--clr-primary);
            color: white;
            border: none;
        }
    }
}
