.stories {
    @media screen and (min-width: 992px) {
        margin-top: -15px;
        padding-block: calc(120px * .5);
    }
    &__title {
        margin-bottom: 1rem;
        color: var(--clr-primary);
        text-align: center;
        @media screen and (min-width: 992px) {
            font-size: 1.75rem;
            margin-bottom: 2rem;
        }
    }
    &__storie {
        margin-bottom: 2rem;
    }
    &__grid {
        &__item {
            @media screen and (min-width: 768px) {
                display: flex;
                gap: 0 calc(30px * .5);
            }
            &__img {
                @media screen and (min-width: 768px) {
                    flex-basis: 50%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            &__text {
                @media screen and (min-width: 768px) {
                    display: flex;
                    align-items: center;
                }
                &__phrase {
                    display: block;
                    font-family: "Playfair Display", serif;
                    font-size: 1.35rem;
                    margin-bottom: 15px;
                }
                &__author {
                    display: block;
                    font-size: .875rem;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &__wrapper {
        @media screen and (min-width: 992px) {
            max-width: 600px;
            margin-inline: auto;
        }
    }
    &--community {
        background-color: rgba(191,191,217,.1);
        border-top: 1px solid rgba(191,191,217,.15);
        border-bottom: 1px solid rgba(191,191,217,.15);
        margin-inline: calc(-30px * .5);
        padding: calc(45px * .5);
        .stories__grid__item__text {
            @media screen and (min-width: 768px) {
                flex-basis: 100%;
                > p {
                    max-width: 50ch;
                    margin-inline: auto;
                }
            }
        }
    }
}
