@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --clr-light: #fffdf9;
  --clr-light-grey: #eee;
  --clr-dark: #282e28;
  --clr-primary: #667764;
  --clr-secondary: #bbddc4;
  --clr-accent: #c54329;
  --clr-link: #4169e1;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --clr-black: #333;
  --clr-white: #f9f9f9;
  --clr-real-white: white;
}

.dark-mode {
  --clr-light: #fffdf9;
  --clr-light-grey: #888;
  --clr-dark: #282e28;
  --clr-primary: #e1f4df;
  --clr-primary-dark: #667764;
  --clr-secondary: #131915;
  --clr-accent: #c54329;
  --clr-link: #7abff2;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --clr-black: #f9f9f9;
  --clr-white: #333;
  --clr-real-white: #464646;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #000;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx .hamburger-inner:after, .hamburger--3dx .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx.is-active .hamburger-inner {
  transform: rotateY(180deg);
  background-color: transparent !important;
}

.hamburger--3dx.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx-r .hamburger-inner:after, .hamburger--3dx-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx-r.is-active .hamburger-inner {
  transform: rotateY(-180deg);
  background-color: transparent !important;
}

.hamburger--3dx-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy .hamburger-inner:after, .hamburger--3dy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy.is-active .hamburger-inner {
  transform: rotateX(-180deg);
  background-color: transparent !important;
}

.hamburger--3dy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy-r .hamburger-inner:after, .hamburger--3dy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy-r.is-active .hamburger-inner {
  transform: rotateX(180deg);
  background-color: transparent !important;
}

.hamburger--3dy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy .hamburger-inner:after, .hamburger--3dxy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy.is-active .hamburger-inner {
  transform: rotateX(180deg) rotateY(180deg);
  background-color: transparent !important;
}

.hamburger--3dxy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy-r .hamburger-inner:after, .hamburger--3dxy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  transform: rotateX(180deg) rotateY(180deg) rotate(-180deg);
  background-color: transparent !important;
}

.hamburger--3dxy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--arrow.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrow.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrow-r.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrow-r.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowalt .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowalt.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrowalt-r .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrowalt-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrowturn.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowturn-r.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner:after, .hamburger--boring .hamburger-inner:before {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}

.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg);
}

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(45deg);
}

.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}

.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(90deg);
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.275s;
}

.hamburger--elastic .hamburger-inner:before {
  top: 10px;
  transition: opacity 0.125s ease 0.275s;
}

.hamburger--elastic .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(135deg);
}

.hamburger--elastic.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(-270deg);
}

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.275s;
}

.hamburger--elastic-r .hamburger-inner:before {
  top: 10px;
  transition: opacity 0.125s ease 0.275s;
}

.hamburger--elastic-r .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(-135deg);
}

.hamburger--elastic-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(270deg);
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s ease-in 0.175s;
}

.hamburger--emphatic .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
}

.hamburger--emphatic .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner:before {
  top: -80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
}

.hamburger--emphatic.is-active .hamburger-inner:after {
  top: -80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}

.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s ease-in 0.175s;
}

.hamburger--emphatic-r .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
}

.hamburger--emphatic-r .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic-r.is-active .hamburger-inner:before {
  top: 80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
}

.hamburger--emphatic-r.is-active .hamburger-inner:after {
  top: 80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
}

.hamburger--minus .hamburger-inner:after, .hamburger--minus .hamburger-inner:before {
  transition: bottom 0.08s ease-out 0s, top 0.08s ease-out 0s, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner:after, .hamburger--minus.is-active .hamburger-inner:before {
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s linear 0.08s;
  opacity: 0;
}

.hamburger--minus.is-active .hamburger-inner:before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner:after {
  bottom: 0;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}

.hamburger--slider .hamburger-inner:after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}

.hamburger--slider-r .hamburger-inner:after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner:before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}

.hamburger--spin .hamburger-inner:before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}

.hamburger--spin-r .hamburger-inner:before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-225deg);
}

.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}

.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(90deg);
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear 0.13s;
}

.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger--spring-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner:before {
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--spring-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s linear 0.22s;
  opacity: 0;
}

.hamburger--spring-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(90deg);
}

.hamburger--stand .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms;
}

.hamburger--stand .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(90deg);
  background-color: transparent !important;
}

.hamburger--stand.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg);
}

.hamburger--stand.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg);
}

.hamburger--stand-r .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms;
}

.hamburger--stand-r .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand-r .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand-r.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(-90deg);
  background-color: transparent !important;
}

.hamburger--stand-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg);
}

.hamburger--stand-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg);
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
}

.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
  opacity: 0;
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.hamburger--vortex .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.2s;
}

.hamburger--vortex .hamburger-inner:after, .hamburger--vortex .hamburger-inner:before {
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}

.hamburger--vortex .hamburger-inner:before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(765deg);
}

.hamburger--vortex.is-active .hamburger-inner:after, .hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(90deg);
}

.hamburger--vortex-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.2s;
}

.hamburger--vortex-r .hamburger-inner:after, .hamburger--vortex-r .hamburger-inner:before {
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}

.hamburger--vortex-r .hamburger-inner:before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner:after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(-765deg);
}

.hamburger--vortex-r.is-active .hamburger-inner:after, .hamburger--vortex-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}

.enon-gallery > div {
  --column-count: 2;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 0.5rem;
}
@media screen and (min-width: 35.9375em) {
  .enon-gallery > div {
    --column-count: 4;
  }
}
.enon-gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

::selection {
  background-color: var(--clr-secondary);
}

body {
  font: 400 1.05rem/1.5 "Montserrat", Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
body.menu-opened {
  overflow: hidden;
}
@media screen and (min-width: 75em) {
  body.menu-opened {
    overflow: inherit;
  }
}
body.menu-opened::after {
  content: "";
  width: 100%;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  animation: menuIn 0.5s ease-in-out;
}
@media screen and (min-width: 75em) {
  body.menu-opened::after {
    content: none;
  }
}
body.dark-mode.menu-opened::after {
  background-color: var(--clr-primary);
  opacity: 0.9;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  opacity: 0.15;
  z-index: -1;
}
@media screen and (min-width: 48em) {
  body::before {
    opacity: 0.7;
  }
}
body.home-page::before {
  background: transparent url("../img/background-home.jpg") bottom center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 48em) {
  body.home-page::before {
    background: transparent url("../img/background-home-desktop.jpg") right bottom no-repeat;
    background-size: cover;
  }
}
body.yoga-page::before {
  background: transparent url("../img/background-yoga.jpg") bottom center no-repeat;
  background-size: cover;
}
body.yoga-restaurativo-page::before {
  background: transparent url("../img/background-yoga-restaurativo.jpg") bottom center no-repeat;
  background-size: cover;
}
body.enon-page::before {
  background: transparent url("../img/background-enon.jpg") bottom center no-repeat;
  background-size: cover;
}
body.chiromassage-page::before {
  background: transparent url("../img/background-quiro.jpg") bottom center no-repeat;
  background-size: cover;
}
body.schedules-page::before {
  background: transparent url("../img/background-schedules.jpg") bottom center no-repeat;
  background-size: cover;
}
body.rules-page::before, body.contact-page::before {
  background: transparent url("../img/background-contacto-left.jpg") bottom right no-repeat;
  background-size: cover;
}
body.external-page::before {
  background: transparent url("../img/background-external.jpeg") bottom center no-repeat;
  background-size: cover;
}
body.mindfulness-page::before {
  background: transparent url("../img/background-mindfulness.jpg") bottom center no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
  border-spacing: inherit;
  margin-block: 2rem;
}

td, th {
  padding: 0.5rem;
}

th {
  border-bottom: 1px solid var(--clr-light-grey);
}

td {
  border-right: 1px solid var(--clr-light-grey);
}
td:last-child {
  border: none;
}

thead tr {
  background-color: var(--clr-light-grey);
}

tbody th {
  text-align: right;
  border: none;
  border-right: 1px solid var(--clr-light-grey);
}
tbody tr:nth-child(odd) {
  background-color: var(--clr-real-white);
}

.align-center {
  text-align: center;
}

.global-container {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
}
@media screen and (min-width: 48em) {
  .global-container {
    max-width: 80%;
    min-height: 100svh;
    background-color: var(--clr-white);
  }
}
@media screen and (min-width: 48em) and (min-width: 62em) {
  .global-container {
    max-width: 70%;
  }
}
@media screen and (min-width: 75em) {
  .global-container {
    margin-left: 255px;
    max-width: 45%;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3,
h4,
strong,
b {
  font-weight: 700;
}

h4 {
  margin-block-end: 1rem;
}

em,
i {
  font-style: italic;
}

ul {
  padding-left: 1rem;
  margin-block-end: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

hr {
  margin-block: 1rem;
  opacity: 0.15;
  border: 1px solid;
}

.main-content p {
  margin-bottom: 0.875rem;
}
.main-content p.quote-author {
  text-align: right;
  margin-bottom: 1.875rem;
}

.page-content {
  background-color: var(--clr-white);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

a {
  color: var(--clr-link);
}

.page-title {
  color: var(--clr-primary);
  margin-block-end: 1rem;
  font-size: 1.55rem;
  line-height: 1.15;
}
.page-title--subtitle {
  color: var(--clr-primary);
  margin-block-end: 1rem;
  font-size: 1.1rem;
}

.contact-page ul strong {
  display: block;
}

@media screen and (min-width: 36em) {
  .img-wrapper--fll {
    float: left;
  }
  .img-wrapper--fll img {
    margin-right: 1.5rem;
  }
  .img-wrapper--flr {
    float: right;
  }
  .img-wrapper--flr img {
    margin-left: 1.5rem;
  }
  .main-content .img-wrapper {
    margin-bottom: 0;
  }
}
.img-wrapper img {
  margin-bottom: 1rem;
}
@media screen and (min-width: 36em) {
  .img-wrapper img {
    max-width: 350px;
  }
}

@keyframes menuIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.top-options {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  gap: 0 2rem;
  background-color: var(--clr-primary);
  width: 100%;
  padding: 0.9375rem;
  text-align: right;
}
@media screen and (min-width: 75em) {
  .top-options {
    z-index: 0;
  }
}
body.dark-mode .top-options {
  background-color: var(--clr-dark);
}
.top-options > button {
  background-color: transparent;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 0;
  border: 0;
  color: var(--clr-white);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
body.dark-mode .top-options > button {
  color: var(--clr-primary);
}
.top-options > button:hover, .top-options > button:focus {
  opacity: 1;
}

.site-title {
  margin-top: 40px;
}
.site-title > a,
.site-title span {
  display: block;
  text-decoration: none;
}
.site-title span {
  text-transform: uppercase;
  font-size: 0.805rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: var(--clr-primary);
}
.site-title span strong {
  font-weight: 700;
}
.site-title__home-link {
  max-width: 315px;
  margin: 0 auto;
}
@media screen and (min-width: 36em) {
  .site-title__home-link {
    align-items: center;
    gap: 0 1rem;
    max-width: none;
  }
  .main-content .site-title__home-link {
    display: flex;
  }
}
@media screen and (min-width: 36em) {
  .site-title__logo {
    flex-basis: 260px;
  }
}
@media screen and (min-width: 36em) {
  .site-title__subtitle {
    white-space: nowrap;
  }
}
@media screen and (min-width: 36em) {
  .site-title__naming {
    position: relative;
    top: 8px;
  }
}

.hamburger {
  position: fixed;
  top: 0.9375rem;
  left: 0.9375rem;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 2;
  transition: left 0.3s ease-in-out;
  opacity: 0.5;
}
@media screen and (min-width: 75em) {
  .hamburger {
    display: none;
  }
}
.hamburger.is-active {
  left: 65%;
  opacity: 1;
}
@media screen and (min-width: 36em) {
  .hamburger.is-active {
    left: 70%;
  }
}
@media screen and (min-width: 48em) {
  .hamburger.is-active {
    left: 73%;
  }
}
.hamburger:hover, .hamburger:focus {
  opacity: 1;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: var(--background);
}
body.dark-mode .hamburger-inner,
body.dark-mode .hamburger-inner::after,
body.dark-mode .hamburger-inner::before,
body.dark-mode .hamburger.is-active .hamburger-inner,
body.dark-mode .hamburger.is-active .hamburger-inner::after,
body.dark-mode .hamburger.is-active .hamburger-inner::before {
  background-color: var(--foreground);
}

.language {
  display: flex;
  justify-content: flex-end;
  gap: 1.875rem;
}
.language__btn {
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--clr-white);
  opacity: 0.5;
  font-weight: 700;
  transition: opacity 0.3s ease-in-out;
}
body.dark-mode .language__btn {
  color: var(--clr-primary);
}
.language__btn.selected {
  opacity: 1;
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--clr-accent) url("../img/enon-simbolo.svg") center center no-repeat;
  background-size: 180%;
  height: 100dvh;
  width: 80%;
  padding: 0.9375rem;
  animation: menuIn 0.3s ease-in-out;
  display: none;
  z-index: 1;
}
@media screen and (min-width: 75em) {
  .main-menu {
    display: flex;
    width: 255px;
  }
}
.main-menu.menu-opened {
  display: flex;
}
.main-menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-self: center;
}
.main-menu__items--inner {
  padding-left: 1rem;
}
.main-menu__link {
  display: block;
  margin-bottom: 0.9375rem;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--clr-light);
}
.main-menu__link:hover, .main-menu__link:focus {
  text-decoration: underline;
}
.main-menu__link.selected {
  font-weight: 700;
  position: relative;
  padding-left: 20px;
}
.main-menu__link.selected::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent var(--clr-light);
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
}
.main-menu__link.selected:hover, .main-menu__link.selected:focus {
  text-decoration: none;
}

@keyframes menuIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
footer {
  padding-block: 3rem;
  text-align: center;
  opacity: 0.85;
}
footer p {
  text-transform: uppercase;
  font-size: 0.805rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: var(--clr-primary);
}
footer p a {
  text-transform: lowercase;
  text-decoration: none;
  color: var(--clr-primary);
  font-weight: 400;
}
footer .whatsapp {
  display: inline-block;
  background-color: var(--clr-primary);
  background-size: 20px auto;
  background-position: 15px center;
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--clr-white);
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 45px;
  margin-block: 0.875rem;
}

.logo {
  font-size: 5rem;
  text-transform: none;
}

.whatsapp {
  background: transparent url("../img/ico/ico-whatsapp.svg") left center no-repeat;
  padding-left: 25px;
}

.intro-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 48em) {
  .intro-links {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.intro-links__item {
  display: flex;
  padding: 0.5rem;
}
@media screen and (min-width: 48em) {
  .intro-links__item {
    flex-basis: 50%;
    margin: 0;
  }
}
.intro-links__link {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-secondary);
  border-radius: 10px;
  color: var(--clr-dark);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 700;
  font-size: 0.875rem;
}
body.dark-mode .intro-links__link {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
}
.intro-links__link--destacado {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
body.dark-mode .intro-links__link--destacado {
  background-color: var(--clr-primary-dark);
  color: var(--clr-black);
}
.intro-links__link--alone {
  display: block;
  margin-block: 2rem;
}

.prices {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.prices li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.prices span {
  flex-basis: 50%;
}
.prices__label {
  text-align: right;
  line-height: 1.25;
  padding-left: 5px;
  padding-right: 7.5px;
  margin-right: -10.5px;
  border-right: 2px solid #66776445;
}

.schedules-table {
  display: none;
}
@media screen and (min-width: 107.1875em) {
  .schedules-table {
    display: table;
  }
}

.schedules-mobile {
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 107.1875em) {
  .schedules-mobile {
    display: none;
  }
}

.activities__image {
  display: block;
  margin: 1rem auto;
  max-width: 250px;
}
@media screen and (min-width: 35.9375em) {
  .activities__image {
    margin-top: 0;
  }
}
.activities__data--more-info a {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-secondary);
  border-radius: 10px;
  color: var(--clr-dark);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 700;
  font-size: 0.875rem;
  display: block;
  transition: all 0.3s ease;
}
.activities__data--more-info a:hover, .activities__data--more-info a:focus {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
body.dark-mode .activities__data--more-info a {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
}
body.dark-mode .activities__data--more-info a:hover, body.dark-mode .activities__data--more-info a:focus {
  background-color: var(--clr-primary-dark);
  color: var(--clr-light);
}
@media screen and (min-width: 35.9375em) {
  .activities__data {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}
@media screen and (max-width: 650px) {
  .opening {
    padding-inline: 1.5rem;
  }
}
.opening--subtitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 650px) {
  .opening--subtitle {
    font-size: 1rem;
    text-align: center;
  }
}
.opening .site-title {
  margin: 0;
}
.opening .site-title__home-link {
  display: flex;
  border-bottom: 1px solid var(--clr-primary);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 650px) {
  .opening .site-title__home-link {
    display: block;
  }
}
.opening p {
  max-width: 385px;
}

/*# sourceMappingURL=main.css.map */
