.intro-quote {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
    &__quote {
        font-family: "Playfair Display", serif;
        font-size: 1.25rem;
    }
}

.top-decoration {
    margin-bottom: -10px;
    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: 45% 55%;
        margin: 0;
    }
    .teachers {
        img {
            max-height: 300px;
            display: block;
            margin-inline: auto;
            @media screen and (min-width: 1200px) {
                max-height: none;
            }
        }
    }
}

.intro-links {
    list-style-type: none;
    display: grid;
    gap: 15px;
    @media screen and (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: 1200px) {
        margin-top: -165px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: var(--clr-primary);
        color: white;
        border-radius: 10px;
        padding: 15px 20px;
        text-align: center;
        font-weight: 500;
        height: 100%;
        min-height: 126px;
    }
}
