@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --clr-primary: #070071;
  --clr-primary-light: #bfbfd9;
  --clr-bg-light: #e9e9f4;
  --clr-cat: #ffd400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #000;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx .hamburger-inner:after, .hamburger--3dx .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx.is-active .hamburger-inner {
  transform: rotateY(180deg);
  background-color: transparent !important;
}

.hamburger--3dx.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx-r .hamburger-inner:after, .hamburger--3dx-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dx-r.is-active .hamburger-inner {
  transform: rotateY(-180deg);
  background-color: transparent !important;
}

.hamburger--3dx-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy .hamburger-inner:after, .hamburger--3dy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy.is-active .hamburger-inner {
  transform: rotateX(-180deg);
  background-color: transparent !important;
}

.hamburger--3dy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy-r .hamburger-inner:after, .hamburger--3dy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy-r.is-active .hamburger-inner {
  transform: rotateX(180deg);
  background-color: transparent !important;
}

.hamburger--3dy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy .hamburger-inner:after, .hamburger--3dxy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy.is-active .hamburger-inner {
  transform: rotateX(180deg) rotateY(180deg);
  background-color: transparent !important;
}

.hamburger--3dxy.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy-r .hamburger-inner:after, .hamburger--3dxy-r .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  transform: rotateX(180deg) rotateY(180deg) rotate(-180deg);
  background-color: transparent !important;
}

.hamburger--3dxy-r.is-active .hamburger-inner:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--arrow.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrow.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrow-r.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrow-r.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowalt .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowalt.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrowalt-r .hamburger-inner:before {
  transition: top 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner:after {
  transition: bottom 0.1s ease 0.1s, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrowalt-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--arrowturn.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner:before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
}

.hamburger--arrowturn-r.is-active .hamburger-inner:after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
}

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner:after, .hamburger--boring .hamburger-inner:before {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}

.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg);
}

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(45deg);
}

.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}

.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(90deg);
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.275s;
}

.hamburger--elastic .hamburger-inner:before {
  top: 10px;
  transition: opacity 0.125s ease 0.275s;
}

.hamburger--elastic .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(135deg);
}

.hamburger--elastic.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(-270deg);
}

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.275s;
}

.hamburger--elastic-r .hamburger-inner:before {
  top: 10px;
  transition: opacity 0.125s ease 0.275s;
}

.hamburger--elastic-r .hamburger-inner:after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transition-delay: 75ms;
  transform: translate3d(0, 10px, 0) rotate(-135deg);
}

.hamburger--elastic-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner:after {
  transition-delay: 75ms;
  transform: translate3d(0, -20px, 0) rotate(270deg);
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s ease-in 0.175s;
}

.hamburger--emphatic .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
}

.hamburger--emphatic .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner:before {
  top: -80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
}

.hamburger--emphatic.is-active .hamburger-inner:after {
  top: -80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}

.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s ease-in 0.175s;
}

.hamburger--emphatic-r .hamburger-inner:before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, left 0.125s ease-in 0.175s;
}

.hamburger--emphatic-r .hamburger-inner:after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s linear 0.125s, right 0.125s ease-in 0.175s;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic-r.is-active .hamburger-inner:before {
  top: 80px;
  left: -80px;
  transition: left 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
}

.hamburger--emphatic-r.is-active .hamburger-inner:after {
  top: 80px;
  right: -80px;
  transition: right 0.125s ease-out, top 0.05s linear 0.125s, transform 0.125s cubic-bezier(0.075, 0.82, 0.165, 1) 0.175s;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
}

.hamburger--minus .hamburger-inner:after, .hamburger--minus .hamburger-inner:before {
  transition: bottom 0.08s ease-out 0s, top 0.08s ease-out 0s, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner:after, .hamburger--minus.is-active .hamburger-inner:before {
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s linear 0.08s;
  opacity: 0;
}

.hamburger--minus.is-active .hamburger-inner:before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner:after {
  bottom: 0;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}

.hamburger--slider .hamburger-inner:after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}

.hamburger--slider-r .hamburger-inner:after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner:before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner:after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}

.hamburger--spin .hamburger-inner:before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.22s;
}

.hamburger--spin-r .hamburger-inner:before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-225deg);
}

.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}

.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(90deg);
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s linear 0.13s;
}

.hamburger--spring .hamburger-inner:before {
  top: 10px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner:after {
  top: 20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger--spring-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner:before {
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger--spring-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s linear 0.22s;
  opacity: 0;
}

.hamburger--spring-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transform: rotate(90deg);
}

.hamburger--stand .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms;
}

.hamburger--stand .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(90deg);
  background-color: transparent !important;
}

.hamburger--stand.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg);
}

.hamburger--stand.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg);
}

.hamburger--stand-r .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, background-color 0s linear 75ms;
}

.hamburger--stand-r .hamburger-inner:before {
  transition: top 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand-r .hamburger-inner:after {
  transition: bottom 75ms ease-in 75ms, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--stand-r.is-active .hamburger-inner {
  transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0s linear 0.15s;
  transform: rotate(-90deg);
  background-color: transparent !important;
}

.hamburger--stand-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(-45deg);
}

.hamburger--stand-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease-out 0.1s, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transform: rotate(45deg);
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
}

.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
  opacity: 0;
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.hamburger--vortex .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.2s;
}

.hamburger--vortex .hamburger-inner:after, .hamburger--vortex .hamburger-inner:before {
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}

.hamburger--vortex .hamburger-inner:before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(765deg);
}

.hamburger--vortex.is-active .hamburger-inner:after, .hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(90deg);
}

.hamburger--vortex-r .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.2s;
}

.hamburger--vortex-r .hamburger-inner:after, .hamburger--vortex-r .hamburger-inner:before {
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 0s;
}

.hamburger--vortex-r .hamburger-inner:before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner:after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(-765deg);
}

.hamburger--vortex-r.is-active .hamburger-inner:after, .hamburger--vortex-r.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(-90deg);
}

.hamburger {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: var(--clr-primary);
}

::selection {
  background-color: var(--clr-secondary);
}

body {
  font: 400 1rem/1.5 "Montserrat", Helvetica, Arial, sans-serif;
}
body.menu-opened {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: var(--clr-primary);
}

.btn {
  background-color: var(--clr-primary);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.025rem;
  display: block;
  padding: 11px 15px;
}
@media screen and (min-width: 992px) {
  .btn {
    max-width: fit-content;
    margin-inline: auto;
  }
}

.page-title {
  line-height: 1.15;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 1.75rem;
  }
}

.main-content {
  overflow-x: hidden;
}
@media screen and (min-width: 1200px) {
  .main-content {
    overflow-x: initial;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-content {
  padding-inline: calc(30px * .5);
}
body.menu-opened .page-content {
  position: relative;
  z-index: -1;
}

.container {
  margin-inline: auto;
  max-width: 1366px;
}

body::before {
  content: "";
  width: 90%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url("/img/deco-01.svg") 0 0 no-repeat;
  background-size: contain;
  z-index: -1;
}
body::after {
  content: "";
  width: 90%;
  height: 200px;
  position: absolute;
  top: 10%;
  right: 0;
  background: transparent url("/img/deco-02.svg") 100% 0 no-repeat;
  background-size: contain;
  z-index: -1;
}

.main-header {
  max-width: 1366px;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding-inline: calc(30px * .5);
  padding-top: 15px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  body:has(.page-content--home) .main-header {
    margin-bottom: -5rem;
  }
}

@media screen and (min-width: 1200px) {
  .site-title {
    display: flex;
    width: fit-content;
  }
}
.site-title__home-link {
  display: block;
  text-align: center;
  height: 100px;
  background: transparent url("/img/logo-ot-academy.svg") center center no-repeat;
  margin-inline: auto;
  background-size: contain;
}
@media screen and (min-width: 1200px) {
  .site-title__home-link {
    width: 200px;
    height: 175px;
    margin-left: 0;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 992px) {
  .page-header__data {
    position: relative;
  }
}
.page-header__data__img {
  display: flex;
  background: var(--clr-primary-light) url("/img/header-1-on-1.svg") center center no-repeat;
  background-size: cover;
  border-top: 1px solid var(--clr-primary-light);
  border-bottom: 1px solid var(--clr-primary-light);
  padding: calc(30px * .5);
  padding-bottom: 0;
  justify-content: center;
  margin-inline: calc(-30px * .5);
  margin-block: 15px;
}
.page-header__data__img img {
  max-height: 250px;
}
@media screen and (min-width: 992px) {
  .page-header__data__img img {
    max-height: 450px;
  }
}
@media screen and (min-width: 992px) {
  .page-header__data__call-to-action {
    position: absolute;
    bottom: 0;
    left: calc(-30px * .5);
    height: fit-content;
    width: calc(100% + calc(60px * .5));
    padding-bottom: calc(45px * .5);
    padding-inline: calc(45px * .5);
    background: rgba(255, 255, 255, 0.92);
    border: 1px solid var(--clr-primary-light);
    border-top: none;
  }
  .page-header__data__call-to-action::before {
    content: "";
    position: absolute;
    left: 0;
    top: -150px;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.92) 100%);
  }
}
.page-header__title {
  margin-bottom: 1rem;
  color: var(--clr-primary);
}
@media screen and (min-width: 992px) {
  .page-header__title {
    text-align: center;
    max-width: 50%;
    margin-inline: auto;
  }
}
.page-header--english-groups .page-header__data__img {
  background-image: url("/img/back-eng-groups-01.jpg");
}

.main-menu {
  position: fixed;
  right: -100dvw;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: white;
  transition: right 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .main-menu {
    position: relative;
    top: initial;
    right: initial;
    padding-inline: calc(30px * .5);
    display: block;
    width: auto;
    height: auto;
    max-width: 1366px;
    margin-inline: auto;
    background-color: transparent;
    margin-top: -8rem;
    margin-bottom: 6rem;
  }
  body:has(.page-content--home) .main-menu {
    margin-bottom: 2rem;
  }
}
.main-menu.menu-opened {
  right: 0;
}
.main-menu__items {
  flex: 1;
  list-style-type: none;
  margin-top: 15px;
  border-top: 1px solid var(--clr-primary-light);
  background-color: var(--clr-primary-light);
}
@media screen and (min-width: 1200px) {
  .main-menu__items {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
    gap: calc(60px * .5);
    margin: 0;
  }
}
.main-menu__logo {
  display: block;
  max-width: 150px;
  margin-inline: auto;
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  .main-menu__logo {
    display: none;
  }
}
.main-menu__link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.015rem;
  font-size: 0.85rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-block: 15px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .main-menu__link {
    padding: 0;
    border: none;
  }
}
.main-menu__link:focus, .main-menu__link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 1200px) {
  .main-menu__link:focus, .main-menu__link:hover {
    background-color: transparent;
    position: relative;
    color: var(--clr-primary);
  }
}
.main-menu__link.selected, .main-menu__link.selected:hover, .main-menu__link.selected:focus {
  background-color: var(--clr-primary);
  color: white;
  border: none;
}
@media screen and (min-width: 1200px) {
  .main-menu__link.selected, .main-menu__link.selected:hover, .main-menu__link.selected:focus {
    background-color: transparent;
    position: relative;
    color: var(--clr-primary);
  }
}
@media screen and (min-width: 1200px) {
  .main-menu__link.selected::after, .main-menu__link.selected:hover::after, .main-menu__link.selected:focus::after, .main-menu__link:hover::after, .main-menu__link:focus::after {
    content: "";
    background-color: var(--clr-primary);
    width: 100%;
    height: 2px;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -2.5px;
  }
}

.main-footer {
  border-top: 1px solid var(--clr-primary-light);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-inline: auto;
  padding-top: 2rem;
  padding-inline: calc(30px * .5);
  display: grid;
  gap: 15px;
  text-align: center;
  z-index: -1;
  position: relative;
  max-width: 1366px;
  font-size: 0.875rem;
}
@media screen and (min-width: 1024px) {
  .main-footer {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .main-footer {
    margin-top: 38px;
    grid-template-rows: auto;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-footer__col:nth-child(2) {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1200px) {
  .main-footer__col:last-child {
    grid-column: 2/-1;
  }
}
.main-footer ul {
  list-style-type: none;
}
.main-footer__social {
  display: flex;
  justify-content: space-between;
  max-width: 345px;
  margin-inline: auto;
  margin-block: 1rem;
}
@media screen and (min-width: 1200px) {
  .main-footer__social {
    margin-right: 0;
  }
}
.main-footer__social__item img {
  width: 40px;
  height: 40px;
}
.main-footer__social__link {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.main-footer__social__link:focus, .main-footer__social__link:hover {
  opacity: 1;
}

.cta {
  margin-inline: calc(-30px * .5);
  margin-block: 30px;
  padding: calc(30px * .5);
  position: relative;
  color: white;
}
.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(7, 0, 113, 0.5);
}
.cta__wrapper {
  position: relative;
}
.cta__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-cat);
}
@media screen and (min-width: 992px) {
  .cta__title {
    font-size: 1.75rem;
  }
}
.cta__subtitle {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  text-align: center;
}
.cta__list {
  list-style-type: none;
  text-align: center;
  display: grid;
  gap: 15px 0;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1200px) {
  .cta__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1366px;
    margin-inline: auto;
    text-align: left;
    gap: calc(30px * .5) calc(45px * .5);
  }
}
.cta__list strong {
  display: block;
}
@media screen and (min-width: 1200px) {
  .cta__item:nth-child(odd):not(:last-child) {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  .cta__item:last-child {
    grid-column: 1/-1;
    text-align: center;
  }
}
.cta__text {
  display: block;
  margin-bottom: 7.5px;
}
.cta__btn-wrapper {
  margin-bottom: 15px;
}
.cta--one-to-one {
  background: var(--clr-primary-light) url("/img/back-cta-01.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .cta--one-to-one {
    margin-top: -15px;
    padding-block: calc(120px * .5);
  }
}
.cta--curso {
  margin-top: -30px;
  background: var(--clr-primary-light) url("/img/back-curso-01.jpg") center center no-repeat;
  background-size: cover;
  color: black;
}
.cta--curso::before {
  background-color: rgba(255, 255, 255, 0.35);
}
.cta--curso .cta__title {
  color: var(--clr-primary);
}
.cta--curso--eng-groups {
  background: var(--clr-primary-light) url("/img/back-eng-groups-02.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .cta--curso--one-to-one .cta__item:last-child {
    grid-column: inherit;
    text-align: inherit;
  }
}
.cta--faqs {
  margin-top: -30px;
  color: black;
}
.cta--faqs::before {
  content: none;
}
.cta--faqs .cta__title {
  color: var(--clr-primary);
}
@media screen and (min-width: 1200px) {
  .cta--faqs--groups .cta__item:last-child {
    grid-column: inherit;
    text-align: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .cta--faqs--one-to-one .cta__item:last-child {
    grid-column: inherit;
    text-align: inherit;
  }
}
.cta--oscar {
  margin-top: -30px;
  color: black;
  background: url("/img/back-metodo-oscar-01.jpg") center center no-repeat;
  background-size: cover;
}
.cta--oscar::before {
  background-color: rgba(255, 255, 255, 0.9);
}
.cta--oscar .cta__title {
  color: var(--clr-primary);
}
@media screen and (min-width: 1200px) {
  .cta--oscar .cta__list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .cta--oscar .cta__item {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .cta--oscar .cta__item:nth-child(2n+1):not(:last-child) {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .cta--oscar .cta__item:last-child {
    grid-column: inherit;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .cta--price {
    padding-block: calc(120px * .5);
  }
}
.cta--eng-groups {
  background: var(--clr-primary-light) url("/img/back-eng-groups-03.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .cta--eng-groups {
    margin-top: -30px;
  }
}

.stories__title {
  margin-bottom: 1rem;
  color: var(--clr-primary);
  text-align: center;
}
@media screen and (min-width: 992px) {
  .stories__title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}
.stories__storie {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .stories__storie:nth-child(odd) .stories__grid__item {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .stories__grid__item {
    display: flex;
    gap: 0 calc(30px * .5);
  }
}
@media screen and (min-width: 768px) {
  .stories__grid__item__img {
    flex-basis: 50%;
  }
  .stories__grid__item__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media screen and (min-width: 768px) {
  .stories__grid__item__text {
    flex-basis: 50%;
    display: flex;
    align-items: center;
  }
}
.stories__grid__item__text__phrase {
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 1.35rem;
  margin-bottom: 15px;
}
.stories__grid__item__text__author {
  display: block;
  text-align: right;
  font-size: 0.875rem;
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .stories__wrapper {
    max-width: 75%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .intro-quote {
    display: flex;
    align-items: center;
  }
}
.intro-quote__quote {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
}

.top-decoration {
  margin-bottom: -10px;
}
@media screen and (min-width: 1200px) {
  .top-decoration {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 0;
  }
}
.top-decoration .teachers img {
  max-height: 300px;
  display: block;
  margin-inline: auto;
}
@media screen and (min-width: 1200px) {
  .top-decoration .teachers img {
    max-height: none;
  }
}

.intro-links {
  list-style-type: none;
  display: grid;
  gap: 15px;
}
@media screen and (min-width: 576px) {
  .intro-links {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .intro-links {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .intro-links {
    margin-top: -165px;
  }
}
.intro-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  font-weight: 500;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
