.hamburger {
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 1;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: var(--clr-primary);
}
