::selection {
    background-color: var(--clr-secondary);
}

body {
    font: 400 1rem/1.5 'Montserrat', Helvetica, Arial, sans-serif;
    &.menu-opened {
        overflow: hidden;
    }
    &:has(.popup-comunidad__opened) {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
}

a {
    color: var(--clr-primary);
}

.btn {
    background-color: var(--clr-primary);
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: .025rem;
    display: block;
    padding: 11px 15px;
    @media screen and (min-width: 992px) {
        max-width: fit-content;
        margin-inline: auto;
    }
    @media screen and (min-width: 1200px) {
        .cta--oscar & {
            margin-right: 0;
        }
    }
}

button.btn {
    border: none;
    margin-inline: auto;
}

.page-title {
    line-height: 1.15;
    margin-bottom: 1rem;
    @media screen and (min-width: 1200px) {
        font-size: 1.75rem;
    }
}

.page-subtitle {
    margin-bottom: .5rem;
}

.page-slogan {
    font-size: .875rem;
    font-style: italic;
}

.main-content {
    overflow-x: hidden;
    @media screen and (min-width: 1200px) {
        overflow-x: initial;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.page-content {
    padding-inline: calc(30px * .5);
    body.menu-opened & {
        position: relative;
        z-index: -1;
    }
}

.container {
    margin-inline: auto;
    max-width: 1366px;
}
