:root {
    --clr-light: #fffdf9;
    --clr-light-grey: #eee;
    --clr-dark: #282e28;
    --clr-primary: #667764;
    --clr-secondary: #bbddc4;
    --clr-accent: #c54329;
    --clr-link: #4169e1;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --clr-black: #333;
    --clr-white: #f9f9f9;
    --clr-real-white: white;
}

.dark-mode {
    --clr-light: #fffdf9;
    --clr-light-grey: #888;
    --clr-dark: #282e28;
    --clr-primary: #e1f4df;
    --clr-primary-dark: #667764;
    --clr-secondary: #131915;
    --clr-accent: #c54329;
    --clr-link: #7abff2;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);

    --clr-black: #f9f9f9;
    --clr-white: #333;
    --clr-real-white: #464646;
}
